{% for data in data.all %}
    {{ data.summary }}
    {% endfor %}

<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/UyqJ86F.png"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <body style="background-color:#f2f2f2;">
    </body>
    

    <title>Bike Share Optimization Analysis</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Bike Share Optimization Analysis - Capital One Software Engineering Summit Entry
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>

          </ul>
          
        </div>
      </nav>
    </header>

    <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 100%;
            height: 500px;
            margin: auto;
        }
    </style>
</head>
<body>

<div class="bs-example" data-example-id="simple-carousel">
    <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
</div> 
</body>
<br>
  <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <center><img class="rounded-circle" src="https://i.imgur.com/prNmLnL.png" alt="Generic placeholder image" width="140" height="140"></center>
            <p><a href="data"><center><h2>Task 1: Three Metrics</h2></center> </a></p>
            <p><center>3 metrics that I find interesting and why.</center></p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <center><img class="rounded-circle" src="https://i.imgur.com/BPusdwb.png" alt="Generic placeholder image" width="140" height="140"></center>
            <p><a href="about"><center><h2>Task 2: Most Popular Start and End Points</h2></center></a></p>
            <p><center>An analysis and visual representation of the most popular start and and stops in Los Angeles, latitude and longitude-wise.</center></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <center><img class="rounded-circle" src="https://i.imgur.com/fdRUD1h.png" alt="Generic placeholder image" width="140" height="140"></center>
            <p><a href="avgdist"><center><h2>Task 3: Average Distance Traveled</h2></center></a></p>
            <p><center>An analysis and visual representation of the average distance traveled by individual bike share users.</center></p>
          </div><!-- /.col-lg-4 -->
          <div>
            <div class="col-lg-4">
                <center><img class="rounded-circle" src="https://i.imgur.com/8pOKChB.png" alt="Generic placeholder image" width="140" height="140"></center>
                <p><a href="commute"><center><h2>Task 4: Popularity of Bike Sharing</h2></center></a></p>
                <p><center>An analysis and visual representation of the amount of riders that include bike sharing as a regular part of their commute.</center></p>
              </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <center><img class="rounded-circle" src="https://i.imgur.com/FZH7p5R.png" alt="Generic placeholder image" width="140" height="140"></center>
                <p><a href="seasonal"><center><h2>Challenge 1: How Does Ridership Change with Season? </h2></center></a></p>
                <p><center>An analysis and visual representation of how ridership within each type of passholder changes from one month to the next.</center></p>
              </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                <center><img class="rounded-circle" src="https://i.imgur.com/Nfd7K98.png" alt="Generic placeholder image" width="140" height="140"></center>
                <p><a href=""><center><h2>Task 4: Popularity of Bike Sharing</h2></center></a></p>
                <p><center>An analysis and visual representation of the amount of riders that include bike sharing as a regular part of their commute.</center></p>
              </div><!-- /.col-lg-4 -->
            </div>
        </div><!-- /.row -->
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018-2019 Ananya Ramkumar.</p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>